@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.advertisementModalTitle {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 18px;
  font-style: normal;
  color: #211f19;
  text-align: left;
  font-size: 18px;
}

.advertisementModalText {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  color: #211f19;
  text-align: left;
  font-size: 14px;
}
